.login-container{
  display:flex;
  justify-content: center;
  align-items: center;
  height:80vh;
}

.login-box {
  background: #fff;
  padding:40px;
  border-radius:12px;
  box-shadow:0 0 30px rgba(0,0,0,0.1);
  width:100%;
  max-width:500px;
}

.login-box h2 {
  text-align: center;
  margin-bottom:30px;
  color:orange;
  font-size:2rem;
}

.login-box form input {
  width:100%;
  padding:16px;
  margin-bottom:25px;
  border:1px solid #ccc;
  border-radius:8px;
  font-size:1.2rem;
}

.login-box form button {
  width:100%;
  padding:16px;
  background-color: orange;
  color:#fff;
  border:none;
  border-radius:8px;
  font-size:1.2rem;
  cursor:pointer;
}

.error{
  color:red;
  margin-bottom:20px;
  font-size:1.2rem;
  text-align: center;
}

.toggle-form {
  text-align: center;
  margin-top: 30px; 
  font-size: 1.2rem; 
}

.toggle-form span {
  margin-left:10px;
  color: orange;
  cursor: pointer;
  font-weight: 600;
}

.toggle-form span:hover {
  text-decoration:underline;
  text-underline-offset: 5px;
}